html {
    background-color: #262622;
}

body {
    margin: auto;
    color: blanchedalmond;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    max-width: 800px;
    width: 80%;
}

h1 {
    color: blanchedalmond;
    margin:auto;
    width: 80%;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}